/*
 @screen-xs-max - <768px
 @screen-sm - 768px - 991px
 @screen-md - 992px - 1999px
 @screen-lg - >1200px
*/
/*--------------------------------------------
                    NAV_BAR
--------------------------------------------*/
@media (min-width: 1200px) {  }
@media (min-width: 992px) and (max-width: 1199px) { }
@media (min-width: 768px) and (max-width: 991px) {

	.navbar-default .navbar-nav > li > a{
		font-size:13px;
	}
	.nav>li{
		margin-left: 0px;
	}
}
@media (max-width: 767px) {
	.navbar-default .navbar-nav > li:hover{
		background-color: transparent;
	}
	.navbar-collapse.in{
		overflow-y:visible;
	}
	.navbar-nav{
		background-color: #bfc5c8;
	}
	.navbar-toggle {
		margin-right: 45%;
		margin-top: 20px;
	}
}

/*--------------------------------------------
                    HEADER
--------------------------------------------*/
@media (min-width: 1200px) { }
@media (min-width: 992px) and (max-width: 1199px) { }
@media (min-width: 768px) and (max-width: 991px) {
	.parallax .title-block p strong{
		font-size: 36px;
	}
	.parallax .title-block p span{
		font-size: 20px;
	}
	.header-parallax {
		margin-top: -80px;
	}
	section.module.parallax-1 {
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url("../images/header-background.jpg");
		background-position-y:-150px;
	}
}
@media (max-width: 768px) {
	.parallax .title-block p strong{
		font-size: 26px;
	}
	.parallax .title-block p span{
		font-size: 18px;
	}
	.header-parallax {
		margin-top: -80px;
	}
	section.module.parallax-1 {
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url("../images/header-background.jpg");
		background-position-y: -150px;
	}
	.navbar-fixed-top, .navbar-fixed-bottom{
		position: relative;
	}
}

/*--------------------------------------------
                    CONTENT
--------------------------------------------*/
@media (min-width: 1200px) {  }
@media (min-width: 992px) and (max-width: 1199px) { }
@media (min-width: 768px) and (max-width: 991px) {
	.job-positions .more-button-block .hvr-bounce-to-right{
		width: 90%;
	}
	.job-positions .title{
		font-size: 30px;
	}
	.career-starter .title .main-title {
		font-size: 36px;
	}
	.career-starter .title .subtitle {
		font-size: 20px;
	}
	.career-starter>.container-fluid>.title{
		padding-top: 30px;
	}
	.about-block{
		padding-bottom: 40px;
	}
	.block-title p{
		font-size: 16px;
	}
	.block-text p{
		font-size: 14px;
	}
	.about-block .block-num{
		padding-bottom: 10px;
	}
	.row-spacing{
		height:40px;
	}
	.block-text p{
		font-size: 15px;
	}
	.spacing-first-content-block {
		padding: 15px 0 12px 0;
	}
	.first-content-block .title-1 {
		font-size: 36px;
		padding-top: 17px;
		padding-bottom: 17px;
	}
	.first-content-block .title-2 {
		font-size: 20px;
		padding: 10px 0 17px 0;
	}
	.first-content-block .title-3 {
		font-size: 16px;
		padding-bottom: 17px;
	}
}
@media (max-width: 768px) {
	.job-positions .title{
		font-size: 30px;
	}
	.job-positions .description{
		font-size: 13px;
	}
	.career-starter .title .main-title {
		font-size: 26px;
	}
	.career-starter .title .subtitle {
		font-size: 18px;
	}
	.career-starter>.container-fluid>.title{
		padding-top: 30px;
	}
	.about-block{
		padding-bottom: 40px;
	}
	.block-title p{
		font-size: 16px;
	}
	.block-text p{
		font-size: 14px;
	}
	.about-block .block-num{
		padding-bottom: 10px;
	}
	.row-spacing{
		height:40px;
	}
	.block-text p{
		font-size: 15px;
	}
	.spacing-first-content-block {
		padding: 15px 0px 12px 0px;
	}
	.first-content-block .title-1 {
		font-size: 26px;
		padding-top: 17px;
		padding-bottom: 13px;
	}
	.first-content-block .title-2 {
		font-size: 16px;
		padding: 10px 0px 17px 0px;
	}
	.first-content-block .title-3 {
		font-size: 15px;
		padding-bottom: 17px;
	}
}
