/*--------------------------------------------
                    BACK_TO_TOP
--------------------------------------------*/
#return-to-top {
    position: fixed;
    bottom: 60px;
    right: 40px;
    background: rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background-color: white;
}
#return-to-top:hover i {
    color: black;
}

/*--------------------------------------------
                    NAV_BAR
--------------------------------------------*/
nav.navbar{
    height: 73px;
    background-color: white;
}

li.dropdown{
    padding: 0px;
}
.nav>li{
    text-transform: uppercase;
    margin-left: 28px;
}
.nav li:hover{
    background-color: #eaedef;
}
.nav li:last-child{
    margin-right: 58px;
}
.nav > li > a{
    padding: 26px 10px 26px 12px;
}
.nav > li > a > a{
    padding: 11px 15px 11px 15px;
}
.navbar-default .navbar-nav > li > a{
    font-size: 15px;
    color:black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 2.25px;
}

#company-name-block{
    margin-left: 25px;
}#company-name-block p{
    margin: 0;
}
.company-name{
    font-family: "Open Sans", sans-serif;
    font-size: 23px;
    line-height: 1.3;
    color:black;
    font-weight: 800;

}
.tagline{
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    color: #595959;
    font-weight: 300;
    text-transform: uppercase;
}
/*--------------------------------------------
                   HEADER
--------------------------------------------*/
#header-background{
    margin-top: 71px;
}
.header-parallax{
    margin-top: 71px;
}
.title-over-header > p:first-child{
    padding-top: 140px;
}
.title-block{
    margin: auto;
    padding: 0;
    color:white;
    font-family: 'Open Sans', sans-serif;
}
.title-block p:last-child{
    font-weight: 800;
    letter-spacing: 1px;
}
/*--------------------------------------------
                  PARALLAX
--------------------------------------------*/
.parallax-window {
    min-height: 478px;
    background: transparent;
}
section.module p:last-child {
    margin-bottom: 0;
}
section.module.parallax {
    height: 478px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
section.module.parallax p {
    text-align: center;
    font-style: normal;
    color: #ffffff;
}
section.module.parallax p:first-child {
    line-height: 400px;
    font-size: 60px;
    letter-spacing: 0px;
}
section.module.parallax p:last-child {
    margin-top: -155px;
    text-transform: uppercase;
    font-size: 22px;
}
section.module.parallax-1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/header-background.jpg");
    background-position: 40% 110%;

}

@media all and (min-width: 600px) {
    section.module.parallax p:first-child {
        font-size: 60px;
    }
}
@media all and (min-width: 960px) {
    section.module.parallax p:first-child {
        font-size: 60px;
    }section.module.parallax p:last-child {
         font-size: 22px;
     }
}

/*--------------------------------------------
                 CONTENT
--------------------------------------------*/

/*--------------------------------------------
              CORPORATE CULTURE
--------------------------------------------*/
.corporate-culture-block{
    background-color: #5980de;
}

.first-content-block{
    text-align: center;
    color:white;
    font-family: "Open Sans",sans-serif;
}
.spacing-first-content-block{
    padding:25px 0px 15px 0px;
}
.first-content-block .title-1{
    font-size:60px;
    padding: 25px 0px 25px 0px;
}
.first-content-block .title-2{
    font-weight: 800;
    font-size:22px;
    padding: 15px 0px 25px 0px;
}
.first-content-block .title-3{
    font-weight: 600;
    font-size:18px;
    padding: 0px 0px 25px 0px;
}
.button-area{
    padding:15px 0px 70px 0px;
}
.button{
    font-family: "Open Sans",sans-serif;
    font-weight: 800;
    color: black;
    line-height: 1;
}
.hvr-bounce-to-right {
    overflow: hidden;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 6px;
    text-transform: uppercase;
    color:black;
    padding: 14px 22px 14px 22px;
    font-size: 15px;
    background-color: #00e18f;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
    border-radius: 6px;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover {
    color: black;
    text-decoration: none;
}
.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/*--------------------------------------------
                 ABOUT-CONTENT
--------------------------------------------*/

.row-spacing{
    height:85px;
}
.about-block{
    padding-bottom: 75px;
}
.about-block p{
    margin: 0;
}
.about-block .container-fluid{
    max-width:1200px;
}

.block-num p{
    font-weight: 800;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    color: #eaedef;
    font-size: 100px;
    line-height: 0.8;
    letter-spacing: 0px;
}

.about-block .block-num{
    padding-bottom: 15px;
}
.block-text{
    padding-top: 15px;
    padding-bottom: 25px;
    line-height: 1.7;

}
.block-title{
    padding-top:15px;
    padding-bottom:15px;
}

.first-block-image,.second-block-image{
    padding-bottom: 25px;
}

.block-title p{
    font-weight: 600;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 18px;
    line-height: 1.5;
    /*letter-spacing: 0px;*/
}


.block-text p{
    font-weight: 400;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    color: #666666;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0px;
}

.container-fluid .divider{
    height: 66px;
    padding-top: 15px;
}

.separate-line{
    padding-top: 15px;
    border-top: 1px solid #eaedef;
}
.second-block-image{
    padding-bottom: 25px;
}
.quotes-spacing-block{
    padding-top: 25px;
    padding-bottom: 25px;
}
.text-under-quotes{
    padding-top: 0px;
}
.text-under-quotes p{
    color:black;
    font-size: 18px;
    font-weight: 800;
}
.quote-divider{
    padding-bottom: 10px;
}
.quote-divider .divider2{
    border-top: 1px solid black;
}
.quote-signature p{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
}
/*--------------------------------------------
                 CAREER-STARTER
--------------------------------------------*/
.career-starter{
    background-color: #eaedef;
    font-family: 'Open Sans', sans-serif;
}

.career-starter>.container-fluid>.title{
    text-align: center;
    padding-top: 70px;
    color:black;
}
.career-starter .title .main-title{
    font-size: 60px;
    line-height: 1.2;
}
.career-starter .selected-word{
    color:#00e18f;
}
.career-starter .title .subtitle{
    font-weight: 800;
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 1px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.career-starter>.container-fluid{
    max-width: 1200px;
}

.job-positions>div{
    background-color: white;
    padding: 20px 15px;
    margin-bottom: 10px;
}

.job-positions .vertical-divider{
    border-left: 1px solid #bfc5c8;
}
.job-positions .title{
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 40px;
    line-height: 1.2;
}
.job-positions .description{
    padding-top: 5px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #585858;
    font-size: 14px;
    line-height: 1.5;
}

.more-button-block{
    padding:35px 0px 25px 0px;
}
.more-button-block .hvr-bounce-to-right{
    width: 180px;
    display: block;
    margin: 0 auto;
}
.job-positions .container-fluid .row .text{
    font-weight: 600;
}
.job-positions .container-fluid .row .icon{
    padding-left: 20px;
}
.more-button-block .hvr-bounce-to-right:before{
    background-color: #eaedef;
}
.job-positions .vertical-divider .container-fluid .row:last-child {
    padding-bottom: 0px;
}
.job-positions .vertical-divider .container-fluid .row {
    padding-bottom: 15px;
}
.job-positions .vertical-divider .container-fluid{
    padding: 7px 15px 8px 15px;
}
.job-positions .vertical-divider:last-child{
    padding-bottom: 20px;
}
.career-starter .row-spacing{
    height: 70px;
    background-color: #eaedef;
}


/*--------------------------------------------
                     FOOTER
--------------------------------------------*/
footer{
    background: url("../images/footer-background.jpg") no-repeat center;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}
footer:after{
    content: ' ';
    background-color: #000;
    opacity: 0.1;
}

footer .row-spacing{
    height: 90px;
}
footer .container-fluid{
    max-width: 1200px;
}
footer .container-fluid:last-child{
    width: 100%;
}
footer a{
    text-decoration: none;
}
footer a:hover{
    text-decoration: none;
}
footer .title .title1 a{
    color:white;
    font-weight: 800;
    font-size: 34px;
    line-height: 1.2;
}

footer .title .title2{
    padding-bottom: 25px;
}

footer .title .title2 a{
    color: #bfc5c8;
    font-weight: 300;
    font-size:16px;
    line-height: 1.4;
}
footer .title .title3{
    padding-bottom: 25px;
}
footer .title .title3 p{
    color: #ced2d5;
    font-weight: 600;
}

.social-list {
    overflow: hidden;
    padding: 0;
}
.social-list li {
    list-style: none;
    display: block;
    float: left;
    margin-left: 10px;
}
.social-list li:first-child{
    margin-left: 0;
}
.social-list li:first-child a{
    padding: 0px;
}
.social-list li a{
    padding: 0 0 0 0px;
}
.social-list li .social {
    color: #ffffff;
    position: relative;
    display: inline-block;
    text-align: center;
    transition: all .3s ease;
    border: 2px solid #7b7e8a;
    width: 28px;
    height: 28px;
    line-height: 25px;
    font-size: 15px;
    border-radius: 50%;
}
.social-list li .social:hover{
    color:#568dd7;
    background: white;
    border: 2px solid #ffffff;
    cursor: pointer;
}
footer .footer-nav{
    padding-left: 0;
}
footer .footer-nav li{
    list-style: none;
    padding: 5px;
}
footer .footer-nav li a:hover{
    color: #00e18f;
}
footer .footer-nav li a{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    color: white;
}

footer .footer-title {
    padding-bottom: 25px;
}
footer .footer-contacts{
    color:#ced2d5;
    font-weight: 600;
}

footer .footer-contacts a[href^="mailto"]{
    font-weight: 600;
    color: #00e18f;
    font-size: 14px;
    display: block;
    text-decoration: none;
}
footer .footer-email{
    padding: 10px 0 15px;
}

footer .footer-contacts a[href^="mailto"]:hover{
    text-decoration: underline;
}
footer .footer-tel a[href^="tel"]{
    font-weight: 600;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    color: #ced2d5;
    font-size: 14px;
    display: block;
    text-decoration: none;
    padding-bottom: 15px;
}
footer .footer-tel a[href^="tel"]:hover{
    color: #00e18f;
}
footer  .privacy{
    margin-top: 60px;
    background: #000000;
    overflow: hidden;
}
footer  .privacy span {
    display: block;
    padding: 15px 0;
    color: #ffffff;
    font-weight: 600;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
footer  .privacy span a{
    color: #ffffff;
    text-decoration: none;
}
footer  .privacy span .privacy-link{
    color: #00e18f;
}
footer input[type=email]{
    display: block;
    width: 100%;
    background-color: transparent;
    color: #bfc5c8;
    padding: 12px 30px;
    height: 55px;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #bfc5c8;
}
footer input[type=email]:focus{
    outline: none;
    border-bottom: 1px solid #bfc5c8;
}
.footer-btn .button{
    min-width: 178px;
}




